@import "../../variables";

:host {
  display: block;
}

.card-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
}

.docs-example-viewer-wrapper {
  padding: 20px 50px 70px 50px;
  h3 {
    margin-top: 10px;
  }
}

.content-container {
  padding: 30px;
}

.docs-example-viewer-title {
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 8px 20px;
}

.docs-example-viewer-title-spacer {
  flex: 1 1 auto;
}

.docs-example-viewer-body {
  padding: 30px;
}

.content-section {
  display: block;
  border-bottom: solid 1px #dde3e6;
  padding: 30px;
  overflow: hidden;
}

