<div class="example-viewer-header">
    <h1>{{title | titlecase}}</h1>
</div>
<div class="docs-example-viewer-wrapper">
    <div class="card-container">
        <div class="card-header">
            <h2 class="docs-example-viewer-title-spacer">Beispiele</h2>
            <button type="button" class="bv-btn-primary" (click)="toggleSourceView()"><i class="fa fa-code fa-lg"></i>
                {{showSource ? 'Code ausblenden' : 'Code anzeigen'}}
            </button>
        </div>
        <div class="docs-example-viewer-source" *ngIf="showSource">
            <div class="content-section documentation">
                <p-tabView effect="fade">
                    <p-tabPanel [header]="'HTML'" *ngIf="htmlTemplateFileContent" [selected]="htmlTemplateFileContent">
                    <pre>
                        <code [innerHTML]="htmlTemplateFileContent" class="language-markup" appCode ngNonBindable>
                        </code>
                    </pre>
                    </p-tabPanel>
                    <p-tabPanel [header]="'TS'" *ngIf="tsFileContent" [selected]="!htmlTemplateFileContent">
                    <pre>
                        <code [innerHTML]="tsFileContent" class="language-typescript" appCode ngNonBindable>
                        </code>
                    </pre>
                    </p-tabPanel>
                    <p-tabPanel [header]="'CSS'" *ngIf="sassFileContent">
                    <pre>
                        <code [innerHTML]="sassFileContent" class="language-css" appCode ngNonBindable>
                        </code>
                    </pre>
                    </p-tabPanel>
                </p-tabView>
            </div>
        </div>
        <div class="content-container">
            <ng-content></ng-content>
        </div>
    </div>
</div>
