.layout-content {
  margin-left: 300px;
  padding-top: 70px;
  background-color: #ffffff;
}

@media screen and (max-width: 64em) {
  .layout-content {
    margin-left: 0;
    padding-top: 100px;
  }
}
