<div class="layout-sidebar" [ngClass]="{'active': menuActive}">
  <div class="layout-menu">

    <a id="menu_typography" #typographymenutitle [class.active-menuitem]="typographymenutitle.id == activeMenuId"
       (click)="activeMenuId = (activeMenuId === typographymenutitle.id ? null : typographymenutitle.id)">
      <img src="assets/img/icons/input-active.svg" class="layout-menu-icon-active"/>
      <img src="assets/img/icons/input.svg" class="layout-menu-icon-inactive"/>
      <span>Typography</span>
    </a>
    <div
            [ngClass]="{'submenushow': (typographymenutitle.id == activeMenuId), 'submenuhide': (typographymenutitle.id != activeMenuId)}">
      <a [routerLink]="['/typography']" (click)="menuActive = false">&#9679; Typography</a>
    </div>

    <a id="button_menutitle" #buttonmenutitle [class.active-menuitem]="buttonmenutitle.id == activeMenuId"
       (click)="activeMenuId = (activeMenuId === buttonmenutitle.id ? null : buttonmenutitle.id)">
      <img src="assets/img/icons/button-active.svg" class="layout-menu-icon-active"/>
      <img src="assets/img/icons/button.svg" class="layout-menu-icon-inactive"/>
      <span>Button</span>
    </a>
    <div
      [ngClass]="{'submenushow': (buttonmenutitle.id == activeMenuId), 'submenuhide': (buttonmenutitle.id != activeMenuId)}">
      <a [routerLink]="['/button']" (click)="menuActive = false">&#9679; Button</a>
    </div>

    <a id="menu_panel" #panelmenutitle [class.active-menuitem]="panelmenutitle.id == activeMenuId"
       (click)="activeMenuId = (activeMenuId === panelmenutitle.id ? null : panelmenutitle.id)">
      <img src="assets/img/icons/panel-active.svg" class="layout-menu-icon-active"/>
      <img src="assets/img/icons/panel.svg" class="layout-menu-icon-inactive"/>
      <span>Panel</span>
    </a>
    <div
      [ngClass]="{'submenushow': (panelmenutitle.id == activeMenuId), 'submenuhide': (panelmenutitle.id != activeMenuId)}">
      <a [routerLink]="['/tile']" (click)="menuActive = false">&#9679; Tile</a>
    </div>

    <a id="menu_overlay" #overlaymenutitle [class.active-menuitem]="overlaymenutitle.id == activeMenuId"
       (click)="activeMenuId = (activeMenuId === overlaymenutitle.id ? null : overlaymenutitle.id)">
      <img src="assets/img/icons/overlay-active.svg" class="layout-menu-icon-active"/>
      <img src="assets/img/icons/overlay.svg" class="layout-menu-icon-inactive"/>
      <span>Overlay</span>
    </a>
    <div
      [ngClass]="{'submenushow': (overlaymenutitle.id == activeMenuId), 'submenuhide': (overlaymenutitle.id != activeMenuId)}">
      <a [routerLink]="['/dialog']" (click)="menuActive = false">&#9679; Dialog</a>
    </div>
  </div>
</div>
