$BASLER_PRIMARY_DARKBLUE: #003399;
$BASLER_SECONDARY_LIGHTBLUE: #009ee7;
$BASLER_BUTTON_HOVER_BLUE: #007bb4;
$BASLER_PRIMARY_DARKGREY: #222222;
$BASLER_PRIMARY_RED: #e7003c;

$BASLER_PRIMARY_BG_LIGHTGREY: #fafafa;
$BASLER_SECONDARY_BG_WHITE: #FFFFFF;

$BASLER_BOX_SHADOW_COLOR: #d9e1f0;
$BASLER_CARD_SHADOW_COLOR: rgba(0, 33, 98, 0.15);

$BASLER_PRIMARY_LIGHTER_BLUE: rgba($BASLER_PRIMARY_DARKBLUE, .35);
$desktop-width: 1180px;

$BASLER_PRIMARY_FONT: MetaPro-Normal;
