@import "../../../variables";

.layout-topbar {
  background-color: $BASLER_SECONDARY_BG_WHITE;
  box-sizing: border-box;
  display: block;
  padding: 0;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999999;
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  & .logo {
    margin-left: 45px;
    margin-top: 15px;
    display: inline-block;
    & img {
      height: 42px;
    }
  }
  & .menu-button {
    display: none;
    color: #ffffff;
    font-size: 24px;
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 60px;
    line-height: 58px;
    text-align: center;
    transition: background-color .3s;
    & :hover {
      background-color: $BASLER_PRIMARY_RED;
    }
    & i {
      line-height: inherit;
    }
  }
}

@media screen and (max-width: 64em) {
  .layout-topbar {
    text-align: center;
    & .menu-button {
      display: inline-block;
    }
    & .logo {
      margin: 7px 0 7px 0;
    }
  }
}

.topbar-menu {
  display: inline-block;
  list-style-type: none;
  float: right;
  margin: 0 60px 0 0;
  padding: 0;
  height: 100%;
  > li {
    display: inline-block;
    height: 100%;
    > {
      a {
        text-decoration: none;
        color: $BASLER_PRIMARY_DARKBLUE;
        transition: background-color .3s;
        min-width: 120px;
        display: inline-block;
        text-align: center;
        box-sizing: border-box;
        height: 100%;
        line-height: 70px;
        &:hover {
          background-color: $BASLER_PRIMARY_BG_LIGHTGREY;
        }
      }
      ul {
        display: none;
      }
    }
    &.topbar-menu-themes {
      position: relative;
      > ul {
        position: absolute;
        top: 65px;
        left: -50px;
        width: 200px;
        max-height: 300px;
        background-color: #ffffff;
        -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
        overflow: auto;
        list-style-type: none;
        padding: 15px 0;
        margin: 0;
        border-radius: 3px;
        -webkit-animation-name: fadeInDown;
        animation-name: fadeInDown;
        animation-duration: .5s;
        > li.topbar-submenu-header {
          padding: 6px 12px;
          font-weight: bold;
          text-align: left;
          background-image: linear-gradient(to left, #2bc0ec, #1b81d7);
          color: #ffffff;
        }
        a {
          text-decoration: none;
          color: #404C51;
          padding: 6px 12px;
          display: block;
          transition: all 0.5s ease;
          &:hover {
            background-color: #eeeeee;
          }
          img {
            width: 32px;
            vertical-align: middle;
          }
          .ui-text {
            vertical-align: middle;
            margin-left: 8px;
          }
        }
      }
      &:hover > ul {
        display: block;
      }
    }
  }
}

@media screen and (max-width: 64em) {
  .topbar-menu {
    background-color: #363c3f;
    float: none;
    width: 100%;
    height: 40px;
    margin: 0;
    text-align: center;
    > li {
      > a {
        padding-bottom: 0;
        line-height: 40px;
        min-width: 100px;
      }
      &.topbar-menu-themes > ul {
        top: 40px;
        text-align: left;
      }
    }
  }
}
